.gallery-item {
    border: 5px solid white;
    padding: 10px;
    margin-right: auto;
    display: inline-block;
    flex-direction: row;
    align-items: center;
    background-color:cornflowerblue;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}